html, body {
	color: #f5f5f5;
	font-family: Montserrat;
	font-size: 24px;
}

.background {
	background-color: #F2F2F2;
	background-image: url(../images/landing-page/horse-shoe.JPG);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

a, a:hover, a:visited {
	color: #f5f5f5;
}

a:hover {
	text-decoration:none;
	font-weight: bold;
}

blockquote {
	border: none;
	font-size: 1.25em;
	padding: 0% 0% 0% 0%;
}

.footer {
	background-color: #555;
	color: #eee;
	height: 10vh;
}

.header-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}

.title-text-align {
	text-align: center;

	@media (min-width: 980px) {
		text-align: left;
	}
}

.menu-text-align {
	text-align: center;

	@media (min-width: 980px) {
		text-align: right;
	}
}

.quote {
	text-align: center;
}

.mysite-img-sizes {
	overflow: hidden;
	width: 100vw;
	padding: 0;

	@media (orientation: landscape) {
		height: 70vh;
	}

	@media (orientation: portrait) {
		height: 40vh;
	}

	@media (min-width: 768px) {
		height: 50vh;
	}

	@media (min-width: 1024px) {
		width: 58vw;
	}

	@media (min-width: 1200px) {
		height: 70vh;
		padding: 10px;
	}
}

/* Mobile first queries */

/* Larger than mobile */
/*@media (min-width: 480px) {}*/

/* Larger than phablet */
/*@media (max-width: 550px) {

}*/

/* Larger than tablet */
/*@media (min-width: 768px) {}*/

/* Larger than desktop */
/*@media (min-width: 980px) {}*/

/* Larger than Desktop HD */
/*@media (min-width: 1200px) {}*/




